body {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 8px 0px;
}
/* .largeText {
  min-width: 265px;
  min-height: 100px;
} */
#clientListSelect {
  margin: 0px 10px 10px 0px;
}
nav {
  padding: 15px 15px 15px 0px;
}
nav button {
  margin-right: 10px;
}
.btn {
  margin-bottom: 10px;
}
.active,
.btn:hover {
  background-color: #666;
  color: white;
}
p {
  margin: 6px 0px 6px;
}
input,
select {
  width: 25vw;
  margin: 2px;
}
input[type="checkbox"] {
  width: auto;
}
textarea {
  width: 30vw;
  min-width: 30vw;
  min-height: 100px;
  margin: 2px;
}
* {
  box-sizing: border-box;
}
#clientListDiv {
  min-width: 300px;
}
#newClientAddDiv {
  min-width: 300px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}
.root {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.sub-root-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-item {
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */

/*@media (max-width: 800px) {
  .root {
    flex-direction: column;
  }

}*/
@media (max-width: 610px) {
  .flex-container {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .sub-root-1 {
    flex-direction: column;
  }
  textarea {
    min-width: 80vw;
  }
  input,
  select {
    width: 70vw;
  }
}
