body {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 8px 0px;
  font-family: "Lucida Grande", Geneva, Verdana, sans-serif;
}
/* .largeText {
  min-width: 265px;
  min-height: 100px;
} */
.pop-up {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.pop-up-content {
  font-size: 17px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close,
#controlToggle {
  color: #313131;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#controlToggle {
  margin-right: 20px;
}
.text-close {
  text-decoration: underline;
  cursor: pointer;
  color: #0088cc;
}
.close:hover,
.close:focus,
#controlToggle:hover,
#controlToggle:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#clientListSelect {
  margin: 0px 10px 10px 0px;
}
nav {
  padding: 15px 15px 15px 0px;
}
nav button {
  margin-right: 10px;
}
.btn {
  margin-bottom: 10px;
}
.active,
.btn:hover {
  background-color: #666;
  color: white;
}
p {
  margin: 6px 0px 6px;
}
input {
  width: 25vw;
  margin: 2px;
}
select {
  width: 25vw;
  margin: 2px;
}

input[type="checkbox"] {
  width: auto;
}
#root select[multiple="true"] {
  width: 30vw;
  min-height: 100px;
  margin: 2px;
}
#root select {
  width: 30vw;
  margin: 2px;
}
textarea {
  width: 30vw;
  min-width: 30vw;
  min-height: 70px;
  margin: 2px;
}

textarea:focus {
  height: 250px;
}
* {
  box-sizing: border-box;
}
#newClientAddDiv,
#clientListDiv {
  min-width: 300px;
  margin: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}
.root {
  display: x;
  flex-direction: column;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-item {
  flex: 50%;
}
.link {
  margin-top: 20px;
  margin-bottom: 20px;
}
.link-checkbox {
  float: right !important;
  width: auto !important;
  margin-right: 8% !important;
}
.link-link {
  float: left;
  margin-left: 8%;
}
#carePlanToggle {
  background-color: pink;
  float: right;
  margin-right: 0px;
  margin-top: 1px;
  border-radius: 4px;
  border: none;
  padding: 4px 9px;
}
.carePlan {
  background-color: #d2f8d2;
}
.important {
  background-color: #f8f8d2;
}
.clinical {
  background-color: #d2d2f8;
}
.review {
  background-color: #f8d2f8;
}
.goals {
  background-color: #d2f0f8;
}
#assessment > div > div > p {
  color: white;
  background-color: gray;
  border: 1px solid white;
  border-radius: 3px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */

/*@media (max-width: 800px) {
  .root {
    flex-direction: column;
  }

}*/

@media (max-width: 800px) {
  .input-container {
    flex-direction: column;
  }
  textarea {
    min-width: 80vw;
  }
  #root input,
  #root select {
    width: 70vw;
  }
  input,
  select {
    width: 35vw;
  }
  #root select {
    width: 80vw;
  }
}
@media (max-width: 610px) {
  .flex-container {
    flex-direction: column;
  }
  input,
  select {
    width: 70vw;
  }
}
