body {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 8px 0px;
  font-family: "Lucida Grande", Geneva, Verdana, sans-serif;
}
/* .largeText {
  min-width: 265px;
  min-height: 100px;
} */
#outputContainer {
  padding: 0px 0px 10px 16px;
}
#output {
  padding-bottom: 10px;
}
.pop-up {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.pop-up-content {
  font-size: 17px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* Top menu */

/* button[disabled] { */
/* opacity: 0.5;
} */
#topMenu {
  background-color: white;
}

.categoryMenuContainer {
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%);
}

.menuContainer,
.categoryMenuContainer {
  display: inline-block;
  /* position: relative; */
  background-color: white;
}

.menuContainer > button,
.categoryMenuContainer > button,
#carePlanToggle {
  background-color: inherit;
  color: inherit;
  min-width: 48px;
  padding: 4px 16px;
}

.menuContainer button,
.categoryMenuContainer button,
#carePlanToggle {
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.menuContainer button:focus,
.categoryMenuContainer button:focus,
#carePlanToggle button:focus {
  outline: none;
}

.menuContainer .menuItemContainer {
  /* background-color: var(--app-menu-bg); */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 180px;
  position: absolute;
  z-index: 1;
}

.menuContainer .menuItemContainer button {
  background-color: white;
  /* color: var(--app-menu-color); */
  display: block;
  padding: 16px;
  text-align: left;
  width: 100%;
}
/* 
.menuContainer > button:hover,
.menuContainer > button:focus,
.menuContainer > button[aria-expanded="true"] {
  background-color: var(--app-menu-selected);
}

.menuItemContainer button:hover,
.menuItemContainer button:focus {
  background-color: var(--app-menu-bg-highlight);
} */

/* .menuContainer button[aria-checked=true] {
  background-color: var(--app-menu-toggled-bg);
  color: var(--app-menu-toggled-color);
} */
/* End top menu */
.close {
  color: #313131;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#menuAttach {
  background-color: white;
}
#buttonNavToggle {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
.text-close {
  text-decoration: underline;
  cursor: pointer;
  color: #0088cc;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#clientListSelect {
  margin: 0px 10px 10px 0px;
}
nav {
  padding: 15px 15px 15px 0px;
  background-color: white;
}
nav button {
  margin-right: 8px;
}
.btn {
  margin-bottom: 10px;
}
#buttonNav .active,
.btn:hover {
  background-color: #666;
  color: white;
}
#appInstallButton {
  background-color: #c0d6ff !important;
  margin-right: 0px;
  padding: 4px 11px;
}
p {
  padding-left: 16px;
  margin: 6px 0px 6px;
}
input {
  width: 25vw;
  margin: 2px;
  border: 1px solid lightgrey;
}
select {
  width: 25vw;
  margin: 2px;
}

input[type="checkbox"] {
  width: auto;
  vertical-align: bottom;
}
#root select[multiple="true"] {
  width: 30vw;
  min-height: 100px;
  margin: 2px;
}
#root select {
  width: 30vw;
  border: 1px solid lightgrey;
  margin: 2px;
}
.inputFieldDiv {
  width: 30vw;
  min-width: 30vw;
  min-height: 70px;
  margin: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid dimgray;
  border-radius: 2px;
}
.popUpInputFieldDiv {
  width: 100%;
  padding: 30px 0px 30px;
}
.pop-up-form-link, .form-link{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.hiddenDataField {
  display: none;
}
.likertWrap {
  display: flex;
  flex-direction: column;
}
p.likertFieldLabel {
  font-weight: bold;
}
.likertGrid {
  float: left;
  clear: none;
}
.likertLabel {
  float: left;
  clear: none;
  padding: 0px 2px 0px 5px;
}

input[type="radio"],
input.likertRadio {
  float: left;
  clear: none;
  margin: 5px 0 0 2px;
  width: 10px;
}
textarea {
  width: 30vw;
  min-width: 30vw;
  min-height: 70px;
  margin: 2px;
  border: 1px solid lightgrey;
}

textarea:focus {
  height: 250px;
}
* {
  box-sizing: border-box;
}
#newClientAddDiv,
#clientListDiv {
  min-width: 300px;
  margin: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}
.root {
  display: x;
  flex-direction: column;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-item {
  flex: 50%;
}
.link {
  margin-top: 20px;
  margin-bottom: 20px;
}
.link-checkbox {
  float: right !important;
  width: auto !important;
  margin-right: 8% !important;
}
.link-link {
  float: left;
  margin-left: 8%;
}
#carePlanToggle {
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  display: inline;
  float: right;
  margin-right: 100px;
  margin-top: -8px;
}
.carePlan {
  background-color: #d2f8d2;
}
.important {
  background-color: #ffffcc;
}
.clinical {
  background-color: #d2d2f8;
}
.review {
  background-color: #f8d2f8;
}
.goals {
  background-color: #d2f0f8;
}
#assessment > div > div > p {
  color: darkslategrey;
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 3px;
}
.hidden {
  display: none !important;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */

/*@media (max-width: 800px) {
  .root {
    flex-direction: column;
  }

}*/

@media (max-width: 800px) {
  .input-container {
    flex-direction: column;
  }
  textarea {
    min-width: 80vw;
  }
  .inputFieldDiv {
    min-width: 80vw;
  }
  #root input,
  #root select {
    width: 70vw;
    /* border: 3px solid lightgrey; */
  }
  input,
  select {
    width: 35vw;
  }
  #root select {
    width: 80vw;
  }
  #root .likertRadio {
    width: 10px;
  }
}
@media (max-width: 610px) {
  .flex-container {
    flex-direction: column;
  }
  input,
  select {
    width: 70vw;
  }
  #carePlanToggle {
    margin-right: 5px;
  }
}
